body{
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 233, 231);
    justify-items: center;
    padding: 5%;

}
body h1{
    text-align: center;
}
Form{
    margin-top: 3%;
}
